@media screen and (max-width:390px) {
    .header-content__title {
        font-size: 3.8rem;
    }

    .destinations__title {
        font-size: 2.4rem;
    }

    ;

    .newsletter__title {
        max-width: 16rem;
    }

}


@media screen and (min-width:576px) {
    .newsletter__img {
        width: 350px;
        margin: auto;
    }

}

@media screen and (min-width:768px) {

    .nav__btn,
    .nav__menu {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu__link {
        font-size: 1.5rem;
    }

    .newsletter {
        flex-direction: row;
        text-align: left;
        align-items: center;
    }

    .newsletter::before {
        width: auto;
        height: auto;
        top: -5rem;
        left: -40rem;
        background-size: auto;
        background-position: center left;
    }

    .newsletter__content {
        flex-basis: 60%;
        padding-right: 2rem;
    }

    .newsletter__banner {
        flex-basis: 40%;
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer-list {
        margin-top: 1rem;
        width: 18rem;
        margin-left: 1rem;
    }

    .footer-pages__item {
        font-size: 1.6rem;
    }

    .footer-app {
        display: block;
    }

    .footer-app--mobile {
        display: none;
    }

}

@media screen and (min-width:992px) {
    .nav__links {
        display: block;
    }


        .newsletter::before {
            top: -10rem;
            left: -30rem;
        }
    .newsletter__content {
        padding-right: 4rem;
    }

    .newsletter__title {
        margin-bottom: 0;
    }


    .footer__scrool {

        left: auto;

    }
        .destinations::after,
        .destinations::before{
            display: block;
        }
}

@media screen and (min-width:1200px) {
    .menu__link {
        font-size: 1.8rem;
    }

    .newsletter {
        justify-content: space-around;
    }

        .newsletter::before {
            top: -15rem;
            left: -15rem;
        }

    .newsletter__content {
        flex-basis: auto;
        padding-right: 2rem;
        width: 60rem;
    }

    .newsletter__banner {
        flex-basis: auto;
        width: 42rem;
    }

    .footer-list {
        margin-bottom: 0;
        margin-left: 2rem;
    }
}

@media screen and (min-width:1400px) {

    .newsletter::before {
        top: -5rem;
            left: -10rem;}
    .container {
        max-width: 170rem;
    }

}
